* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    height: 100vh;
}

.logo img {
    width: 10%;
    height: auto;
    margin:20px 10px;
}

.logo{
    position:absolute;
}

.loginContainer {
    display: flex;
    width: 100%;
}

.firstHalf, .secondHalf {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.firstHalf {
    flex-direction: column;
    background-color: #fff;
}

.login {
    margin: 10px;
    font-size: 30px;
    font-weight: 600;
}

.inputContainer{
    width: 100%;
    max-width: 300px;
}
.inputBox {
    margin: 15px 0;
}

.search_box {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    width: 100%;
}

.submitBtn {
    width: 100%;
    background-color: #d1410c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.signupPrompt {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.signupPrompt a {
    color: #d1410c;
    text-decoration: none;
    font-weight: bold;
}

.signupPrompt a:hover {
    text-decoration: underline;
}

.secondHalf {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url('https://img.freepik.com/premium-photo/champagne-toast-celebration-party_663277-40416.jpg?semt=ais_hybrid') no-repeat center center;
    background-size: cover;
    position: relative;
}


