.filter-container {
    max-width: max-content;
    height: 120px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#filter-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:end; 
}

.filter {
    width: 16%;
    display: flex;
    flex-wrap: wrap;
}

input, select {
    text-transform: capitalize;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#apply-filters {
    height: 38px;
    width: 16%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #d1410c;;;
    color: white;
    border: none;
    cursor: pointer;
}

#apply-filters:hover {
    background-color:#dd5523;
    transition: transform 0.3s;
}
