.myTicketsContainer{
    margin:50px 100px;
}

.ticketsContainer {
    margin: 0 15%;
}

.futureTickets, .previousTickets {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.ticketType, .noTickets{
    margin-right: auto;
    margin-bottom: 0;
}

.ticketType {
    margin-top: 30px;
}

.ticketWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.ticketWrapper:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
}

.ticketInfo {
    display: flex;
    gap: 20px;
}

.eventInfo {
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.eventDetails {
    display: flex;
    flex-direction: row;
    padding: 0;
    /* column-gap: 20px; */
}

.eventTime, .eventLocation {
    width: 40%;
}

.ticketButtons {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    color: #d1410c;
}

.eventImg img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.eventDescription {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
}

.eventDescription a {
    text-decoration: none;
    color: #333;
    margin: 5px 0;
    font-weight: bold;
}

.ticketInfo p {
    margin: 4px 0;
    color: #666;
}

.openTicket {
    cursor: pointer;
}

.cancelReservation {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

#myTickets .modal .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-width: 0;
    background-color: transparent;
}

#myTickets .modal {
    height: 400px;
    width: 400px;
    text-align: center;
}

#myTickets .modal h3 {
    margin: 20px;
}

.modal #confirmCancelation h3 {
    width: 50px;
}

.ticketDownload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.ticketDownload h4 {
    color: #d1410c;
    text-decoration: none;
}

.confirm-cancel-btn {
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width:100%;
}

#conf-cancel-reservation {
    background-color: #d1410c;
    color: white;
}