* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

hr{
    background-color: #f1e8e8;
    border:none;
    height: 1px;
}
.headerContainer{
    display:flex;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position:sticky;
    width:100%;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
}

.searchbarContainer {
    display: flex;
    align-items: center;
}

.searchEvents,
.searchCity {
    display: flex;
    align-items: center;
}

.searchBoxNav{
    margin-top:0;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    width: 250px;
}

.searchCity hr {
    margin: 0 10px;
    height: 30px;
    border: none;
    border-left: 1px solid #ccc;
}

.searchButton {
    background-color: #ff6f61;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton svg circle {
    fill: #ff6f61;
}

.navOptionsContainer {
    display: flex;
    margin-right:40px;
}

.optionsList {
    list-style: none;
    display: flex;
    gap: 50px;
}

.optionsList li {
    font-size: 14px;
}

.optionsList a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.optionsList a:hover {
    color: #ff6f61;
}