* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

hr{
    background-color: #f1e8e8;
    border:none;
    height: 1px;
}

.likesSection {
  width: 100%;
  padding: 120px;
}
  
h1 {
    margin-bottom: 20px;
}
  
.eventWrapperWishList {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.eventWrapper:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
}
  
.eventDetailsWishList {
    padding: 20px;
}
  
.eventTitle {
    font-size: 1.25rem;
    text-decoration: none;
    color: #333;
    margin: 5px 0;
    font-weight: bold;
}
  
.eventDate {
    color: #e94e32;
}
  
p {
    color: #666;
    margin: 5px 0;
}
  
.eventImageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
}
  
.eventImage {
    width: 150px;
    height: auto;
    border-radius: 8px;
}
  
.eventActions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
  
.removeButton {
    font-size: 1.5rem;
    color: #666;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}
  
.removeButton:hover {
    transform: scale(1.2);
    color: #ff1a1a;
}
  
  
